.content {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-auto-rows: auto;
  grid-template-areas: "receta lateral";
}

.lateral{
  grid-area: lateral;
}
.receta {
  background-color: #f3ffc9
  grid-area: receta;
}

header {
  display: inline-block;
}

header img {
  width: 10%;
  float: left;
}

header h1 {
  float: right;
}

.detalles {
  display: flex;
  justify-content: space-between;
}

.tags {
  display: flex;
}

.nombre_receta {
  display: grid;
  grid-template-columns: auto 20%;
  grid-auto-rows: auto;
  grid-template-areas: "nombre estrellas";
  align-items: center;
}

.nombre_receta h1 {
  grid-area: nombre;
}

.nombre_receta img {
  width: 100%;
  grid-area: estrellas;
}

header, .navegacion_inferior {
  background-color: #c7ff73
}
nav {
  background-color: #ebff99
  display: flex;
}

aside {
  background-color: #fff2b0
}

aside h3 {
  background-color: #ffe47a
}


.nombre_receta {
  background-color: #c7ff73
}
.comentario {
  background-color: #ffddc7
}

.ingredientes {
  background-color: #c7e9ff
}
