header, .navegacion_inferior, .nombre_receta {
  background-color: #cfe660;
}


h1, h2, h3, h4 {
  font-family: Arial;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  align-items: center;
}


header h1 {
  width: 70%;
  align-self: center;
  flex-grow: 1;
  text-align: center;
  font-size: 250%;
}

.logos {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.logos img {
  width : 33%;
  padding: 3%;
}

nav, footer {
  background-color: #EBFCB1;
  display: flex;
  justify-content: flex-start;
  padding-left: 1%;
  margin-top: 0.5%;
}

nav p {
  padding-right: 5%;
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0.5%;
}

.receta {
  width: 80%;
}

.lateral {
  width: 20%;
}

.nombre_receta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 2px;
  margin: 2px;
}

.nombre_receta h1 {
  font-size: 200%;
  margin: 1%;
}

.nombre_receta img {
  width: 20%;
  padding: 2px;
}

.detalles {
  display: flex;
  justify-content: space-between;
  padding: 0px 2px 0px 2px;
}

.detalles p {
  margin-top: 0px;
  font-style: italic;
  font-weight: bold;
}

aside {
  background-color: #fff2b0;
}

aside h3 {
  background-color: #ffe47a;
}

.comentario {
  background-color: #ffddc7;
}

.ingredientes {
  background-color: #c7e9ff;
}


.receta {
  background-color: #f3ffc9;
}
