img.boton{
  width: 15px;
}

header, div.contenido_receta, div.contenido_formulario, div.contenido_usuario,
div.contenido_gestion, div.mensaje_simple, div.contenido_foto, div.error {
  background-color: #F1F1F1;
}

body {
  font-family: Georgia;
}

h1, h2, h3, h4 {
  font-family: Lucida sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  align-items: center;
}


header h1 {
  width: 70%;
  align-self: center;
  flex-grow: 1;
  text-align: center;
  font-size: 250%;
  margin: 0px;
}

.logos {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.logos img {
  width : 33%;
  padding: 3%;
}

nav, footer {
  background-color: #333;
}

.menu {
  grid-area: menu;
  overflow: hidden;
  background-color: #333;
}

nav {
  display: flex;
  justify-content: flex-start;
  padding-left: 10px;
  margin-top: 0.5px;
  background-color: #333;
}

nav a {
  text-align: center;
  width: 200px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav a:hover{
  background-color: #ddd;
  color: black;
}

.activo:link {
  font-weight: bold;
  color: white;
}

.error{
  color: red;
  font-weight: bold;
}


.pagina {
  display: grid;
  margin-top: 0.5%;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
  grid-template-areas:
  "menu menu"
  "contenido lateral"
}

.pagina div {
  margin: 5px;
}

.contenido_receta {
  grid-area: contenido;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: auto;
  grid-template-areas:
  "superior superior superior"
  "descripcion descripcion descripcion"
  "ingredientes preparacion preparacion"
  "categorias categorias categorias"
  "fotos fotos fotos"
  "comentarios comentarios calificacion"
  "navegacion_inferior navegacion_inferior navegacion_inferior"
}


/* Los laterales */

.lateral {
  grid-area: lateral;
  margin: 0px;
  padding: 0px;
}

.lateral aside {
  padding: 0px;
  margin-bottom: 10px;
  background-color: #F1F1F1;
}

.lateral form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
aside {
  padding: 3px;
  margin-bottom: 5px;
}

aside h3 {
  background-color: #333;
  text-align: center;
  margin: 0px;
  padding: 5px;
  color: #f2f2f2;
  font-family: Georgia;
  font-size: 16px;
  font-weight: normal;
}

aside p {
  padding: 5px;
  margin: 0px;
  text-align: center;
}

aside form * {
  margin-left: auto;
  margin-right: auto;
}


.field * {
  display: block;
  width: 90%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}

.valoradas {
  display: flex;
  flex-direction: column;
}

.valoradas li {
  padding: 10px;
}

.valoradas ol {
  margin: 0px;
}

.n_recetas p {
  padding: 10px;
  text-align: center;
}

/* Título receta */
.superior {
  grid-area: superior;
}

.nombre_receta {
  padding-left: 2px;
  padding-right: 2px;
  margin: 5px;
}

.nombre_receta h1 {
  font-size: 200%;
  margin: 1%;
  text-align: center;
}

.detalles {
  padding: 0px 20px 0px 10px;
}

.detalles p {
  margin-top: 0px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

/* Elementos de la receta */

.descripcion {
  display: flex;
  align-items: center;
  border: 2px dotted #8B1233;
  padding: 10px;
  margin: 10px;
  grid-area: descripcion;
}

.descripcion img {
  width: 40%;
  margin-left: px;
}

.ingredientes {
  margin: 10px;
  border: 2px dotted #8B1233;
  padding: 1%;;
  grid-area: ingredientes
}

.preparacion {
  margin: 10px;
  border: 2px dotted #8B1233;
  padding: 1%;
  grid-area: preparacion;
}

.ingredientes ul {
  padding: 3px;
  padding-left: 10px;
  margin: 7px;
}

.categorias {
  grid-area: categorias;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fotos {
  grid-area: fotos;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.fotos * {
  box-sizing: border-box;
  width: 20%;
  padding: 5px;
}

.comentarios {
  grid-area: comentarios;
  margin: 5px;
}
.comentarios form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}


.comentarios textarea {
  width: 80%;
}



.calificacion {
  grid-area: calificacion;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calificacion form {
  margin: auto;
  vertical-align: middle;
  position: absolute;
   top: 50%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -50%);
   display: flex;
   flex-direction: column;
}

.calificacion form * {
  margin: auto;
}
.calificacion p {
  margin: 0px;
}

.navegacion_inferior {
  margin: 5px;
  margin-top: 10px;
  grid-area: navegacion_inferior;
}

.navegacion_inferior form {
  display: flex;
  justify-content: center;
  align-items: center;
}



.comentario {
  background-color: white;
  border-radius: 25px;
  padding: 1px;
  box-shadow: 1px 5px 10px #888888;
}

.caja_comentario form{
  margin-top: 7px;
}

.comentario p {
  margin: 5px;
  text-align: center;
  padding: 2px;
}

.info_comentario{
  display: flex;
  align-items: flex-start;
  font-size: 12px;
}


.comentarista {
  color: #8835ab;
}

/* Contenido formularios */

.contenido_formulario, .contenido_foto {
  grid-area: contenido;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  align-content: center;
}


.contenido_usuario {
  grid-area: contenido;
}

.contenido_usuario img{
  width: 150px;
}

.contenido_formulario img{
  width: 150px;
}

.contenido_foto img{
  width: 150px;
}

.contenido_foto {
  width: 80%;
}

.contenido_gestion {
  grid-area: contenido;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.contenido_gestion h4, h5{
  margin:5px;
}

.agrupar_fil {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.agrupar_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenido_gestion .agrupar .agrupar form{
  display: flex;
  flex-direction: column;
}

.contenido_formulario h3, .contenido_usuario h3, .contenido_gestion h3{
  font-size: 200%;
  margin: 1%;
  text-align: center;
}


.formulario{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px dotted #8B1233;
  align-items: center;
  text-align: center;
}

.formulario .agrupar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}


.contenido_formulario form * {
  margin: 5px;
}

.listado td form{
  display: flex;
  flex-direction: row;
}


/* Footer */
footer {
  margin-top: 5px;
  display: flex;
  justify-content: center;
}

footer p {
  text-align: center;
  color: #f2f2f2;
  margin-left: 5px;
  margin-right: 5px;
}

.logo {
  display: none;
}


@media (max-width: 800px) {

  .logos {
    display: none;
  }

  .logo {
    width : 20%;
    display: block;
  }

  .logo img{
    width: 50%;
    padding: 3%;
  }

  header {
    display: flex;
    padding: 1%;
    align-items: baseline;
  }

  header h1 {
    width: 90%;
  }

  .pagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5%;
  }

  .lateral {
    width: 100%;
  }

  .login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
  }


  .valoradas ol, li{
    margin: auto;
    text-align: center;
  }
  .receta {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .nombre_receta img {
    display: none;
  }

  .detalles {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 20px 0px 10px;
  }

  .superior {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    order: 0;
  }

  .descripcion {
    order: 1;
  }

  .ingredientes {
    float: none;
    display: flex;
    flex-wrap: wrap;
    order: 2;
  }

  .ingredientes p {
    width: 50%;
  }

  .preparacion {
    order: 3;
  }

  .pasos {
    order: 4;
  }

  .comentarios {
    order: 6;
  }

  .navegacion_inferior {
    order: 5;
  }

  .nombre_receta {
    flex-grow: 1;
  }



  .detalles p {
    margin: 0px;
  }


  footer {
    margin-top: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  footer p {
    margin: 0px;
  }

  .divisor {
    display: none;
  }

}
